body {
  margin: 0;
  padding: 0;
  background-image: url('./contact.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}